.place-item {
  margin: 1rem 0;
}

.place-item__content {
  padding: 0;
}

.place-item__info {
  padding: 1rem;
  text-align: center;
}

.place-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
}

.place-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

.map-container {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .place-item__image {
    height: 20rem;
  } 
}

.place-item__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-row {
  display: flex;
  align-items: flex-start;
}

.label {
  width: 100px; /* Adjust this width to align the first letters */
  font-weight: bold;
  display: inline-block;
}


.place-item__slider {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
}

.slider-container {
  position: relative;
  display: inline-block;
}

.slider-image {
  width: 100%;
  max-width: 700px;
  height: 350px;
  object-fit: cover;
  border-radius: 0px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.slider-controls {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.slider-controls button {
  padding: 0.3rem 0.6rem;
  font-size: 1.2rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.slider-controls span {
  font-weight: bold;
}

